{% extends 'customer/base.html' %}
{% block content %}
    <div class="container">
        <div class="row text-start">
             <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h5> Cайт с админ панелью и 2-мя кабинетами на Django. Сайт  не оформлен красиво). Структура была выбрана по моему предпочтению. На сайте помимо админки есть два кабинета заказчика и исполнителя. Минимальный набор полей в профилях (имя,фамилия, контактные данные, опыт). БД PostgreSQL</h5>
    </div>
            <div class="col-6">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card py-5">
                         <a class="me-5 py-4 link-body-emphasis text-decoration-none" href="{% url 'customers:all_customers' %}" style="font-size: 30px;">Заказчики</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card py-5">
                         <a class="me-5 py-4 link-body-emphasis text-decoration-none" href="#" style="font-size: 30px;">Исполнители</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}